* {margin: 0; padding: 0; box-sizing: border-box;}


body {
    font-family: "roboto";
    background-image: url(../img.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
}

header {
    margin-top: 25px;
}

h1 {
    justify-content: center;
    text-align: center;
    color: white;
    height: 60px;


    font-size: 50px;
    font-stretch: expanded;
}

h2 {
    padding: 0px 0px 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 20px;
}

.searchdiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.searchbox {
    justify-content: center;
    height: 35px;
    width: 400px;
    border-radius: 10px;
    background-color: white;
    font-size: xx-large;
    text-align: center;
    outline:none;
    resize:none;
}

.searchBtn {
    color: white;
    background-color: teal;
    margin-left: -50px;
    height: 35px;
    width: 50px;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}

.searchBtn img {
    width: 20px;
    height: 20px;
}

.tour-container {
    display: flex;
    background-color: #272640;
    color: white;
    border-radius: 25px;
    margin: 50px;
}

.tour-dates {
    flex-direction: column;
    padding: 25px;
}

.date-item {
    padding: 15px;
}

.artist-div {
    flex-direction: column;
    padding: 25px;
}

.spotify {
    display: flex;
    flex-direction: column;
    background-color: #272640;
    color: white;
    border-radius: 25px;
    margin: 50px;
}

.playlist {
    padding: 25px;
}

.song-item {
    padding: 25px 0 15px;
}

.artist-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin-left: 5px;
}

#photo { 
    border-radius: 15px;
    width: 250px; 
    height: 250px; 
 }

 a {
    color: white;
    background-color: #0b525b;
    font-size: x-large;
    font-weight: bolder;
    padding: 10px 20px;
    border-radius: 15px;
    text-decoration: none;
 }

 a:hover {
     color: white;
 }

 #btnDiv {
     margin-top: 15px;
 }