* {margin: 0; padding: 0; box-sizing: border-box;}

header h1 {
    justify-content: center;

    /* background-image: linear-gradient(to right, #006466 , #4D194D); */
    text-align: center;
    color: white;
    height: 60px;


    font-size: 50px;
    font-stretch: expanded;
}

body {
    background-image: url(https://i.pinimg.com/originals/b8/4f/41/b84f4195a6d33c93d01111287c0c7b7e.jpg);
    background-position: center;
    background-size: span;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 20px;
    
}

.searchdiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    margin-top: 25px;
    border-radius: 15px;
}

.searchbox {
    justify-content: center;
    height: 41px;
    width: 500px;
    border-radius: 10px;
    background-color: white;
    font-size: xx-large;
    text-align: center;
    outline:none;
}

button {
    width: 100px;
    height: 25px;
    background-color: white;
}

button:focus {
    background-color:white
}

.tour-dates, .spotify {
    border: 2px solid #0b525b;
    background-color: #272640;
    color: white;
    height: 300px;
    border-radius: 25px;
    margin-top: 25px;
}
h1 {
    font-size: 30px;
}

h3 {
    font-size: 15px;
}

/* #photo { 
     width: 200px; 
     height: 200px; 
 
 } */